.menuNav{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.menuUl{
    background-color: gray;
    border: solid white;
    border-radius: 2px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
    position: absolute;

}